<ion-view hide-tab-bar id="chatid">
  <ion-nav-buttons>
    <button class="button button-clear header-fix" ng-click="$ionicGoBack()">
      <img class="header-picture" ng-src="{{chat.data.picture}}">
    </button>
    <button class="button button-clear">{{chat.data.name}}</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-more-vertical" ng-click="chat.showPopover($event)"></button>
  </ion-nav-buttons>
  <ion-content class="chat" delegate-handle="chatScroll">
    <div class="message-list">
      <div ng-repeat="message in chat.messages" class="message-wrapper">
        <div class="message" ng-class-even="'message-mine'" ng-class-odd="'message-other'">
          <div class="message-text">{{ message.text }}</div>
          <span class="message-timestamp">{{ message.timestamp | amDateFormat: 'hh:mm:A' }}</span>
        </div>
      </div>
    </div>
  </ion-content>


   <ion-footer-bar keyboard-attach class="footer-chat item-input-inset"> 
    <label class="item-input-wrapper">
      <textarea id="message" ng-model="chat.message" placeholder="Type a message" msd-elastic></textarea>
    </label>
    <div ng-if="chat.message.length > 0">
      <button ng-click="chat.sendMessage()" class="button button-clear button-icon icon ion-android-send button-balanced">
      </button>
    </div>
    <div ng-if="!chat.message || chat.message.length === 0">
      <button class="button button-clear button-icon button-balanced icon ion-camera"></button>
      <i class="buttons-seperator icon ion-android-more-vertical"></i>
      <button class="button button-clear button-icon button-balanced icon ion-android-microphone"></button>
    </div>
  </ion-footer-bar>
</ion-view>



<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" href="#/tab/profile/{{profile._id}}">
          View Profile
        </a>
        <a class="item" href="http://ionicframework.com/docs/" target="_blank">
          Chat Theme
        </a>
        <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
          Search
        </a>
        <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
          Clear Chat
        </a>
        <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
          Block
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
