<ion-view title="{{profile.data.name}}">
	<ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="{{profile.data.picture}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">{{profile.data.name}}</div>
        <div class="user-phone">+919400540857</div>
      </div>
    </div>
    <div class="card">
  		<div class="item item-divider">
    		Status
  		</div>
  		<div class="item item-text-wrap">
    		Everything Gonna be Alright
  		</div>
	</div>

	<div class="card">
  		<div class="item item-divider">
    		Media
  		</div>
  		<div class="item item-text-wrap">
    		...
  		</div>
	</div>	

	<div class="card">
  		<div class="item item-divider">
    		Notifications
  		</div>
  		<div class="item item-text-wrap">
    		Custom notifications
  		</div>
  		<ion-toggle>
    		Mute
  		</ion-toggle>
	</div>
	<div class="card">
  		<div class="item item-divider">
    		Groups in Common
  		</div>
  		<div class="item item-text-wrap">
    		...
  		</div>
	</div>	
  </ion-content>
</ion-view>